@use '../../style/variables' as vars;
@use '../../style/adapt' as adapt;
 
.sectionMainMargin {
    /* max-width: 1400px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
     
  }
  
.tasksContainer {
  display: flex;
  justify-content: space-between;
  margin-top: adapt.adaptive-margin(30, 50);
}
.tasksLeftEls {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.tasksRigthEls {
  display: flex;
  flex-direction: column;
  width: adapt.adaptive-margin(520, 640);
}
.tasksContainerTitle  {  
  font: 400 adapt.adaptive-margin(96, 160) /1 vars.$fontF;   
  color: rgb(254, 254, 254); 
  cursor: url('../assets/cursor/2.png'), pointer;  
  letter-spacing: -4.8px;  
}
@media (max-width:1000px) {
  
}
@media (max-width:800px) {
   
}
@media (max-width:680px) {
   
}
@media (max-width:580px) {
   
}
@media (max-width:480px) {
   
  
}
