@use '../../style/variables' as vars;
@use '../../style/adapt' as adapt;
.section06 {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
 
.section06BoxFirst {
    display: flex;
}
.section06BoxFirstTitle {
    cursor: url('../assets/cursor/1.png'), default;
    width: adapt.adaptive-margin(460, 614);
    font: 400 32px / 1.1 vars.$fontF, Helvetica, Arial, serif;
    font-size: adapt.adaptive-margin(32,42);
    color: rgb(112, 112, 112);     
    letter-spacing: -0.96px;
}
.section06BoxFirstItems {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: adapt.adaptive-margin(15,20);
}
.section06Subtext {
    cursor: url('../assets/cursor/1.png'), default;
    color:  #FEFEFE;
    text-align: justify;
    font-family: vars.$fontF;
    font-size: adapt.adaptive-margin(40,52);
    font-style: normal;
    font-weight: 400;
    line-height: 90%; /* 36px */
    text-transform: uppercase;
    .section06SubtextSpan {
       color: rgb(18, 18, 18);
       background: #34d3d7;
        
    }
}
.section06BoxFirstItemElements {
    display: flex;
    gap: adapt.adaptive-margin(40,50);
    width: 87%;
}
.section06BoxLeft {
    display: flex;
    flex-direction: column;
    gap: adapt.adaptive-margin(10,15);
    width: 51%;
}
.section06Text {
    color: #707070;
    font-family: vars.$fontR;
    font-size: adapt.adaptive-margin(18,24);
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 19.8px */
    letter-spacing: -0.54px;
    cursor: url('../assets/cursor/1.png'), default;
    /* opacity: 0; */
}
.section06Text1 {
    border:none;
}
.section06Text2 {
    border:none;
}
.section06Text3 {
    border:none;
}
.section06BoxRight {
    display: flex;
    flex-direction: column;
    width: 49%;
}
.section06LinkBox {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    color:  #FEFEFE;
    font-family: vars.$fontF;
    font-size: adapt.adaptive-margin(20,28);
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: -0.6px;
    position: relative;
    width: 85%;
    transition: all 0.4s linear;
    &:hover {
        + .section06LinkBoxLine {
            background-color: #34D3D7;
            width: 100%;
        }
        /* border-bottom: 1px solid #34D3D7;
        color:  #34D3D7; */
        .section06LinkImg {
            rotate: -90deg;
            rect {
                fill: #34D3D7;
            }
            path {
                fill: #34D3D7;
            }
        }
    }
     
}
.section06LinkBoxLine {
    height: 1px;     
    width: 0%;
    background-color: #fefefe;
    
}
.section06Link {
    margin-bottom: -2px;
    font-family: vars.$fontF;
    font-size: adapt.adaptive-margin(22,28);
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: -0.6px;
    opacity: 0;
}
.section06LinkImg {
    rotate: 0deg;
    margin-top: 3px;
    transition: all 0.4s linear;
    width: adapt.adaptive-margin(18,24);
    height: adapt.adaptive-margin(18,24);
    opacity: 0;
    path{
        transition: all 0.4s linear;
    }
    rect{
        transition: all 0.4s linear;
    }
}
.section06BoxSecond {
    display: flex;
}
.section06BoxSecondItemImgEl {
    border:none;
}
.section06BoxSecondItemImgEl0 {
    border:none;
}
.section06BoxSecondItemImgEl2 {
    border:none;
}
.section06BoxSecondItemImg {
    width: adapt.adaptive-margin(460, 614);
    
    .section06BoxSecondItemImgBox { 
        width: fit-content;
        position: relative;
        width: adapt.adaptive-margin(250,300);
        height: adapt.adaptive-margin(250,300);
        overflow: hidden;
        /* clip-path: path('M0.5 43.4529V291C0.5 296.799 5.20102 301.5 11 301.5H261C266.799 301.5 271.5 296.799 271.5 291V239.142C271.5 236.623 272.501 234.206 274.282 232.425L298.425 208.282C300.394 206.313 301.5 203.643 301.5 200.858V11C301.5 5.20101 296.799 0.5 291 0.5H43.4529C40.6681 0.5 37.9974 1.60625 36.0283 3.57538L3.57538 36.0283C1.60625 37.9974 0.5 40.6681 0.5 43.4529Z'); */

        /* .section06BoxSecondItemMask {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;

        } */
        /* .section06BoxSecondItemImgEl0 {
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.2s linear;
            z-index: 1;
        } */
        img {
            transform: scale(0.95);
        }
        &:hover {
            /* img {
                scale: 1.1;
            } */
        }
        /* &::after {
            content: '';
            background-image: url(../assets/auctionArcade/maskLSvg.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: adapt.adaptive-margin(250,300);
            height: adapt.adaptive-margin(250,300);
            display: block;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
        } */
    }
}
.section06BoxSecondItemImg2{
    flex:1;
    overflow: hidden;
     
    img {
        width: 87%;
        transition: all 0.2s linear;
        transform: scale(0.95);
        /* mask: url(../assets/auctionArcade/06Rsvg.png);
        mask-size: 100%;
        mask-repeat: no-repeat; */
    }
    &:hover {
        /* img {
            scale: 1.1;
        } */
    }
}
.section06BoxSecondText {
    color: #707070;
    text-align: justify;
    font-family: vars.$fontR;
    font-size: adapt.adaptive-margin(16,20);
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 17.6px */
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin-top: adapt.adaptive-margin(10,12);
    cursor: url('../assets/cursor/1.png'), default;
}
.section06BoxSecondItemImg2_mob {
    display: none;
}
@media (max-width:1250px) {
    .section06 {
        margin-bottom: calc(100px + (100) * ((100vw - 360px) / (1250 - 360)));
    }
    .section06BoxFirstItemElements {
        width: 100%;
    }
    .section06BoxSecondItemImg2 img {
        width: 100%;
    }
    .section06BoxFirstTitle{
        font-size: 28px;
        width: calc(256px + 150 * ((100vw - 800px) / (1250 - 800)));
    }
    .section06BoxSecondItemImg {
        width: calc(256px + 150 * ((100vw - 800px) / (1250 - 800)));
    }
    .section06BoxFirstItems {
        gap: 10px;
    }
    .section06Subtext {
        font-size: 32px;
    }
    .section06Text {
        font-size: 18px;
    }
    .section06LinkBox {
        font-size: 20px;
        width: 100%;
    }
    .section06BoxSecondText {
        font-size: 16px;
    }
    .section06Link {
        font-size: 20px;
    }
    .section06LinkImg {
        height: 16px;
        width: 16px;
    }
    .section06LinkBox {
        margin-top: 10px;
    }
    .section06BoxLeft {
        gap:10px;
    }
}
@media (max-width:1000px) {
    /* .section06BoxFirstTitle {
        width: adapt.adaptive-marginPh2(55,318.8);
    }  */ 
}
@media (max-width:950px) {
    .section06BoxFirst {
        flex-direction: column;
        gap: 10px;
    }
    .section06BoxFirstItemElements {
        
        
        width: 100%;
    }
    .section06BoxLeft {
        width: 60%;
    }
}
@media (max-width:950px) {
    .section06BoxSecondItemImg {
        display: none;
    }
    .section06BoxFirstItemElements {
        width: 100%;
    }
    .section06BoxSecondItemImg2 img {
        width: 100%;
    }
}
@media (max-width:680px) {
    .section06BoxFirstItemElements {
        flex-direction: column;
        gap: 10px;
    }
    .section06BoxLeft {
        width: 100%;
    }
    .section06BoxRight {
        width: 100%;
    }
    .section06BoxFirstTitle {
        font-size: 24px;
    }
    .section06BoxSecond {
        display: none;
    }
    .section06BoxSecondItemImg2_mob {
        display: block;
    }
}
@media (max-width:580px) {
     
    .section06Subtext {
        font-size: 28px;
    }
    .section06Text {
        font-size: 16px;
    }
}
@media (max-width:480px) {
   
  
}