@use '../../style/variables' as vars;
@use '../../style/adapt' as adapt;
.section02 {
 /*  display: none; */
  background-color: #ffffff8c;
  position: relative;
  height: auto;
  padding-bottom: 270px;
  /* height: calc(2230px * 1vw/14px); */
  width: 100%;
  z-index: 0;
  cursor: url('../assets/cursor/1.png'), default;
  
}
.section02Bottom {
  margin-bottom: 215px;
}
.section02MainImg {
  position: absolute;
  width: 100%;
  height: calc(100% + 2px);
  /* display: none; */
 /*  z-index: -1; */
  top: 0;
  left: 0;
}
.section02Title {
  font-family: vars.$fontF;
  font-weight: 400;
  font-size: adapt.adaptive-margin(40, 54);
  line-height: 100%;
  text-transform: uppercase;
  text-align: justify;
  color: #fff;
  position: relative;
  
}
.section02Title::after {
  content: "";
  display: inline-block;
  width: 100%;
}
.spanBackFirst {
  color: #121212;
  background-color: #34d3d7;
  padding-left: 5px;
  padding-right: 5px;
}
.spanBack {
  color: #121212;
  background-color: #34d3d7;
 
  
  &:first {
    padding-left: 5px;
  }
  &:last-of-type {
    padding-right: 5px;
  }
}
.span2Section {
  margin-top: adapt.adaptive-margin(-40, -54);
  margin-left: 50%;
  width: 50%;
  text-indent: 0;
  font-family: vars.$fontF;
  font-weight: 400;
  font-size: adapt.adaptive-margin(40, 54);
  line-height: 100%;
  text-transform: uppercase;
  text-align: justify;
  color: #fff;
  position: relative;
}
.section02Title1 {
  margin-top: 30px;
  margin-top: 150px;
  text-indent: adapt.adaptive-margin(460,614);

}
.planetBoxImg1 {
  border: none;
}
.planetNameSubtitle1 {
  border: none;
}
.planetHighlightText1 {
  border: none;
}
.planetBoxPresentSection1 {
  border: none;
}
.planetBox_second{
  border: none;
}
.planetBoxImg2 {
  border: none;
}
.planetNameSubtitle2 {
  border: none;
}
.planetTitle1{
  border: none;
}
.planetTitle2 {
  border: none;
}
.planetBoxPresentSection2 {
  border: none;
} 
.section02Title2{
  margin-left: 50%;
  margin-bottom: adapt.adaptive-margin(140,200);
}
.mainCharacterImage {
  position: absolute;
  width: 125px;
  top: -25px;
  left: 0;
}
.mainCharacterImg1 {
  position: absolute; 
  left: 0;
   
  
}
.mainCharacterImg2 {
  position: absolute; 
  left: 25px;
}
.mainCharacterImg3 {
  position: absolute; 
  left: 75px;
}
.mainCharacterImg4 {
  position: absolute; 
  left: 0;
  top: 25px;
}
.mainCharacterImg5 {
  position: absolute; 
  left: 50px;
  top: 25px;
}
.mainCharacterImage2 {
  position: absolute;
  bottom: -38px;
  right: 25px;
  width: 125px;
}
.mainCharacter2Img1 {
  position: absolute; 
  left: 0;
}
.mainCharacter2Img2 {
  position: absolute; 
  left: 50px;
}
.mainCharacter2Img3 {
  position: absolute; 
  left: 50px;
  top: 25px;
}
.mainCharacter2Img4 {
  position: absolute; 
  left: 75px;
}
.mainCharacter2Img5 {
  position: absolute; 
  left: 100px;
  top: -25px;
}
.planetBoxContainer {
  /* display: flex;
  align-items: center;
  overflow: hidden; 
  width: 100vw;
  height: 100vh; */
  overscroll-behavior: none;
  /* width: 200vw;
  height: 100vh; */
  display: flex;
  flex-wrap: nowrap;
  
  
}
.planetBox {
 /*  width: calc(50% - 30px); */
  padding: 0 15px;
  /* height: 100vh;    */
  flex: 1;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
  transition: opacity 0.2s linear;
  /* margin: adapt.adaptive-margin(120, 160) 0; */
}
.planetBox_second {
  display: none;
 /*  margin-top: adapt.adaptive-margin(160, 200); */
}
.planetBoxImgCont {
 
  margin-left: adapt.adaptive-margin(60,80);
  flex:1;
  width: 50%;
  .planetBoxImg {
    /* opacity: 0; */
    /* transform: scale(0); */
    transition: all linear 0.2s;
    height: adapt.adaptive-margin(500, 680);
    width: adapt.adaptive-margin(500, 680);
  }
}
.planetDescriptionSection {
  width: 50%;
  transition: opacity 0.2s linear;
  
}
.planetNameSection {
}
.planetNameSubtitle {
     
    font: 400 20px / 1 vars.$fontF, Helvetica, Arial, serif;
    font-size: adapt.adaptive-margin(20,24);
    color: rgb(52, 211, 215);
    letter-spacing: -0.6px;
}
.planetTitle {
      
  font: 400 40px / 1 vars.$fontF, Helvetica, Arial, serif;
  font-size: adapt.adaptive-margin(40,48);
  color: rgb(254, 254, 254);
  letter-spacing: -1.2px;
}
.planetHighlightText {
   
  margin: 5px 0 0;   
  font: 400 18px / 1.1 vars.$fontR, Helvetica, Arial, serif;
  font-size: adapt.adaptive-margin(18,22);
  color: rgb(254, 254, 254);
  letter-spacing: -0.54px;
  max-width: adapt.adaptive-margin(538,600);
}
.planetBoxPresentSection {
  display: flex;
  flex-direction: column;
  gap: adapt.adaptive-margin(16,20);
  margin-top: 20px;
  max-width: adapt.adaptive-margin(638,800);
}
.planetBoxRow {
  display: flex;
  width: adapt.adaptive-margin(538,600);
  justify-content: space-between;
   
}
.planetBoxCol {
  display: flex;
  flex-direction: column;
  width: 30%;

}
.planetBoxSubtitle {   
  font: 400 20px / 1 vars.$fontF, Helvetica, Arial, serif;
  font-size: adapt.adaptive-margin(20,24);
  color: rgb(52, 211, 215);
  letter-spacing: -0.6px;
}
.planetBoxText {
  overflow: hidden;
  font: 400 48px / 1 vars.$fontF, Helvetica, Arial, serif;
  font-size: adapt.adaptive-margin(48,58);
  color: rgb(254, 254, 254);
   
  letter-spacing: -1.44px;
}
.section02TitleMin {
  display: none;
}
@media (max-width:1440px) {
  .section02Bottom {
    margin-bottom: adapt.adaptive-margin(215, 275);
  }
  .planetNameSubtitle {
    font-size: 20px;
  }
  .planetTitle {
    font-size: 40px;
  }
  .planetHighlightText{
    font-size: 18px;
    max-width: 538px;
  }
  .planetBoxSubtitle {
    font-size: 18px;
  }
  .planetBoxText{
    font-size: 48px;
  }
  .planetBoxPresentSection{
    max-width: 638px;
  }
  .planetBoxCol {
    width: 33%;
  }
  
}

@media (max-width:1250px) {
  .mainCharacterImage {
     
    width: 100px;
  }
  .mainCharacterImage2 {
    
    width: 100px;
  }
  .section02Title {
    text-indent: calc(256px + 150 * ((100vw - 800px) / (1250 - 800)));
  }
  .section02Title1 {
    margin-top:  calc(100px + 50*(100vw - 360px) / (1250 - 360));
    
  }
  .section02 {
   /*  margin-bottom:  calc(100px + 50*(100vw - 360px) / (1250 - 360)); */
  }
}
@media (max-width:1340px) {
  .mainCharacterImage {
     
    top: -24px;
  }
  .mainCharacterImage2 {
     
    bottom: -48px;
    
  }
  /* .span2Section {
    margin-bottom: 75px;
  } */
   
}
@media (max-width:1000px) {
  .section02 {
    /* height: 100%;
    padding-bottom: 200px; */
  }
  .section02Bottom {
    margin-bottom: 175px;
  }
  .section02Title {
    font-size: 34px;
    /* text-indent: adapt.adaptive-marginPh2(55,318.8); */
  }
  .span2Section {
    font-size: 34px;
  }
  .mainCharacterImage {
    top: -50px;
    
  }
  .mainCharacterImage2 {
    bottom: -50px;
    
  }
  .planetBoxImgCont .planetBoxImg {
    height: auto;
    width: 85%;
}
}
 

@media (max-width:980px) {
  .planetBox_second {
   /*  margin-top: calc(80px + 40 * ((100vw - 360px) / (900 - 360)));; */
  }
  .span2Section {
    margin-top: -35px;
    margin-left: 0;
    width: 100%;
  }
  .section02Title {
     
    text-indent: 0;
  }
  .section02TitleMin {
    display: block;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .section02Title1, .span2Section {
    display: none;
  }
  .mainCharacterImage {
    top: -90px;
    left: calc(50% - 35px);
  }
  .mainCharacterImage2 {
    bottom: -75px;
    left: calc(50% - 62.5px);
  }
  .section02Title::after {
    content: none;
    
  }
}
@media (max-width:900px) {
  .section02 {
    /* padding-bottom: 200px; */
  }
  .planetBoxContainer {
    height: auto;
  }
  .section02MainImg {
    object-fit: cover;
  }
  .planetBox {
    flex-direction: column;
    gap: 30px;
    margin:0;
  }
  .planetBoxImgCont {
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    width: 45%;
    
}
.planetBoxImgCont .planetBoxImg {
  height: auto;
  width:auto;
  margin-left: auto;
  margin-right: auto;
}
.planetDescriptionSection {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.planetBoxCol {
  text-align: start;
}
.planetHighlightText{
  width: 480px;
}
.planetBoxPresentSection {
    width: 480px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
}
.planetBoxRow {
  width: 480px;
  padding-left:35px;
  justify-content: start;
}
.planetBoxCol {
  width: 135px;
}
.planetBoxCol:first-child {
  
  width: 167px;
}
.planetBoxCol:last-child {
  
  width: 144px;
}
}
@media (max-width:800px) {
  
}
@media (max-width:680px) {
  .section02Bottom {
    margin-bottom: 145px;
  }
  .section02Title {
    font-size: 30px;
    
  }
  .span2Section {
    font-size: 30px;
  }
  .planetDescriptionSection {
    text-align: center;
    width: 100%;
  }
  .planetBox {
    margin: 30px 0;
  }
  .planetBoxImgCont {
    width: 55%;
  }
  .mainCharacterImage {
    top: -60px;
  }
  .mainCharacterImage2 {
    bottom: -75px;
  }
}
@media (max-width:580px) {
  .planetBoxImgCont {
    width: 65%;
  }
  .planetHighlightText, .planetBoxPresentSection {
    max-width: 100%;
  }
  .planetBoxCol {
    width: calc(100% /3);
  }
  .planetBoxCol:first-child {
    width: calc(100% /3);
  }
  .planetBoxCol:last-child {
    width: calc(100% /3);
  }
}
@media (max-width:530px) {
  .planetBoxImgCont {
    width: 75%;
  }
  .section02Title {
    font-size: 28px;
    
  }
  .planetBoxRow {
    width: 100%;
    padding: 0;
  }
  .planetHighlightText {
    width: 100%;
  }
  .span2Section {
    font-size: 28px;
  }
  .planetBoxText {
    font-size: 38px;
  }
   
  .planetDescriptionSection {
    text-align: start;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .planetBoxPresentSection {
    max-width: 100%;
    width: 100%;
  }
  .planetBoxCol {
    width: calc(100% /3);
  }
  .planetBoxCol:first-child {
    width: calc(100% /3);
  }
  .planetBoxCol:last-child {
    width: calc(100% /3);
  }
  
}
@media (max-width:465px) {
  .planetBoxSubtitle {
    font-size: 15px;
  }
}
