@use '../../style/variables' as vars;
@use '../../style/adapt' as adapt;
 
.rewardsBox {
  cursor: url('../assets/cursor/2.png'), pointer;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  border-radius: 8px;
  border: 1px solid #404040;
  margin-top: 20px;
}
.rewardsTitle {
  color:  #FEFEFE;
  font: 400 adapt.adaptive-margin(32, 42)/0.9 vars.$fontF;
   
}
.rewardsUserQuest {
  margin-top: adapt.adaptive-margin(16, 20);
}
.rewardsItems {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.rewardsSubTitle {
  color: #FEFEFE;
  font: 500 adapt.adaptive-margin(18, 20)/1.2 vars.$fontR;
 
}
.rewardsNum {
  display: flex;
  font: 500 adapt.adaptive-margin(18, 20)/1.2 vars.$fontR;
  color:  #34D3D7;
  
}
.rewardsNumDo {
  border: none;
}
.rewardsNumAll {
  border: none;
}
.rewardsProgress {
  border-radius: 60px;
  width: 100%;
  height: 10px;
  background-color: #404040; 
}

.progressComplete {
  border-radius: 60px;
  height: 100%; 
  background-color: #34D3D7; 
  transition: width 0.3s ease; 
}

 
.rewardsBtn {
  background-color: #FEFEFE;
  color: #121212;
  font: 500 adapt.adaptive-margin(18, 20)/1.2 vars.$fontR;
  letter-spacing: -0.54px;
  padding: 9px 0;
  display: flex;
  justify-content: center;
  margin-top: adapt.adaptive-margin(14, 16);
}
.rewardsSocialQuest {
  margin-top: adapt.adaptive-margin(30, 40);
}
.rewardsBlockChainQuest {
  margin-top: adapt.adaptive-margin(30, 40);
}
@media (max-width:1000px) {
  
}
@media (max-width:800px) {
   
}
@media (max-width:680px) {
   
}
@media (max-width:580px) {
   
}
@media (max-width:480px) {
   
  
}
